.heading {
    text-align: center;
    color:#1c1c1c;
    margin: 39px 0px;
    padding: 4px 0px;
    background-color:#976a6a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.listborder {
    text-align: center;
    color: darkgoldenrod;
    background-color: black;
    padding: 13px 0px;
}
.listborder a{
    color: white;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.pic1 {
    background-color: bisque;
    padding: 20px 12px;
    margin: 14px 0px
}

.pic1 img {
    padding: 14px 27px;
    margin: 9px 504px
}

.pic1 p {
    text-align: center;
}

.pic2 {
    background-color: bisque;
    padding: 21px 1px;
    margin: 14px 0px
}

.pic2 img {
    padding: 35px 778px;
    margin: 12px 12px;

}

.pic2 p {
    font-style: italic;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.pic3 {
    background-color: bisque;
    padding: 20px 12px;
    margin: 14px 0px
}

.pic3 img {
    padding: 14px 27px;
    margin: 9px 504px
}

.pic3 p {
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pic4 {
    background-color: bisque;
    padding: 21px 9px;
    margin: 25px -20px;
}

.pic4 p{
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Form {
    background-color: bisque;
    padding: 12px 1px;
    margin: 10px -6px
}

.Form input {
    border-radius: 6px;
    margin: -6px 19px;
    padding: 7px 9px;
}
.submit{
    padding: 4px 3px;
    margin: 4px -4px;
 
}
.submit input{
    background-color: brown;
    color: cornsilk;
}